:root {
    --main-color: #FC4100;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0!important;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

a {
    color: #000;
    text-decoration: none!important;
}


.fw-400 {
    font-weight: 400!important;
}

.fw-500 {
    font-weight: 500!important;
}

.fw-600 {
    font-weight: 600!important;
}


.btn {
    transition: all .1s ease-in;
    font-weight: 500!important;
}

.btn-main,
.bg-main,
.btn-main-hover {
    background-color: var(--main-color)!important;
    color: #fff;
}


.text-main {
    color: var(--main-color);
}

.text-second {
    color: #006769;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.btn-custom {
    border: none;
    background-color: transparent;
}

.btn-main-hover:hover {
    color: #fff;
    opacity: 0.8!important;
}

.btn-main:hover {
    background-color: #fff!important;
    color: var(--main-color)!important;
}

.btn-border {
    color: #000;
    border: 2px solid var(--main-color);
    border-radius: 24px;
    background: #fff;
}

.btn-border:hover {
    color: #fff;
    background: var(--main-color);
}

.btn-nohover:hover {
    color: var(--main-color);
}

.btn-nohover {
    padding: 0!important;
}

.btn-float-right:hover {
    color: var(--main-color);
}

/* Custom CSS for forcing left-to-right slide animation */
.carousel-item-next,
.carousel-item-start {
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.carousel-item-prev,
.carousel-item-end {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.discount-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 1rem;
    background-color: #FF6500;
    color: #fff;
    border-radius: 6px;
    padding: 4px 12px;
}

.discount-badge-inline {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 6px;
    padding: 8px 20px;
}

.card {
    
}

.card-custom {
    border:none;
}

.card-title {
    font-weight: normal!important;
    height: 44px;
    text-align: left;
    font-size: 1.1rem;
    display: -webkit-box;           /* Necessary for line clamping */
    -webkit-line-clamp: 2;          /* Limit text to 2 lines */
    -webkit-box-orient: vertical;   /* Specify vertical orientation */
    overflow: hidden;               /* Hide any overflow text */
    text-overflow: ellipsis;        /* Add ellipsis at the end of overflowing text */
}

.one-line-text-overflow {
    display: -webkit-box;           /* Necessary for line clamping */
    -webkit-line-clamp: 1;          /* Limit text to 2 lines */
    -webkit-box-orient: vertical;   /* Specify vertical orientation */
    overflow: hidden;               /* Hide any overflow text */
    text-overflow: ellipsis;   
}

.card-text {
    display: -webkit-box;           /* Necessary for line clamping */
    -webkit-line-clamp: 3;          /* Limit text to 2 lines */
    -webkit-box-orient: vertical;   /* Specify vertical orientation */
    overflow: hidden;               /* Hide any overflow text */
    text-overflow: ellipsis;        /* Add ellipsis at the end of overflowing text */
}

.card-body {
    padding: 16px 24px !important;
}

.price-regular {
    color: #636363;
    text-decoration: line-through;
}

.price-onsale {
    color: var(--main-color);
}

.btn-favorite {
    padding-right: 0!important;
}

.card-no-border {
    height: 100%!important;
    width: 100%!important;
    object-fit: cover;
    overflow: hidden;
}

.search-bar {
    border-radius: 20px;
    border: none;
}

a:hover {
    transition: all .1s ease-in;
    color: var(--main-color);
}

.border-main {
    border-color: var(--main-color)!important;
}

li {
    list-style-type: none!important;
}

.bg-light-gray {
    background-color: #e6e6e6;
}

.text-justify {
    text-align: justify;
}

.img-btn {
    border:none;
}

.required::after {
    content: '*';
    color: red;
    position: relative;
    left: 2px;
}

.main-image {
    position: relative;
    overflow: hidden;
}

#mainImage {
    width: 100%;
    height: auto;
    display: block;
}

#magnifier {
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    display: none;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}


.toggle-display-pw-icon:hover {
    cursor: pointer;
}

.side-bar-box {
    background-color: #F2F2F2;
    border-radius: 20px;
    display: block!important;
    height: 296px!important;
}

.side-bar-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.side-bar-item:hover,
.side-bar-item.active {
    cursor: pointer;
    background-color: #fff;
    color: var(--main-color);
}

.box-rounded {
    border-radius: 20px;
}

.box-content {
    display: none!important;
}

.box-content.active {
    display: block!important;
}

.modal {
    
}

.cart-popup {
    z-index: 999;
    width: 420px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19);
    transform: scale(0);
    opacity: 0;
    transition: 0.15s ease-in;
    transform-origin: calc(100% - 32px) top;
    cursor: default;
}

.cart-popup::before {
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -28px;
    right: 0px;
    cursor: pointer;
}

.btn-cart:hover .cart-popup{
    opacity: 1;
    transform: scale(1);
}

.btn-cart:hover .cart-count{
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid #fff;
}

.btn-cart::before {
    content: "";
    display: block;
    position: absolute;
    top:100%;
    right: 12px;
    width: 100%;
    height: 50%;
}

.cart-item-list {
    max-height: 50vh; /*Thiet lap chieu cao theo ti le man hinh*/
    overflow-y: auto;
}

.status.done {
    color: #FF9F40!important;
}

.status.confirmed {
    color: #5cb85c!important;
}

.status.pending {
    color: #36A2EB!important;
}

.status.shipping {
    color: #FFCE56!important;
}

.status.shipped {
    color: #4BC0C0!important;
}

.status.canceled {
    color: #FF6384!important;
}
.price::after,
.price-regular::after,
.price-onsale::after {
    content: 'đ';
}

/* Styles for quantity control container */
.quantity-control {
    white-space: nowrap; /* Prevent wrapping */
}

.quantity-control button,
.quantity-control .quantityDisplay {
    display: inline-block;
    vertical-align: middle;
}

.quantity-control .btn {
    font-size: 0.9rem;
    width: 26px;
    height: 26px;
}

.quantity-control .quantityDisplay {
    width: 38px;
    text-align: center;
    font-size: 1rem;
    padding: 2px 10px!important;
    margin: 0 0.25rem; /* Add small horizontal margin */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}


.ui-menu {
    width: 300px;
    max-width: 100%; /* Ensure it doesn't overflow */
    border: none; /* Remove default border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.ui-menu .list-group-item {
    padding: 0.5rem 1rem; /* Adjust padding */
    background-color: #fff; /* White background for items */
}

.ui-menu .list-group-item:hover {
    background-color: #f8f9fa; /* Hover effect similar to Bootstrap */
}

.ui-menu .list-group-item {
    transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.ui-menu .list-group-item:hover {
    background-color: #e9ecef; /* Light grey background on hover */
    color: #495057; /* Optional: Darker text color on hover */
    cursor: pointer; /* Change cursor to pointer */
}

.order-list {
    max-height: 540px;  
    overflow-y: scroll;
}       

/* TOAST */
.toast {
    z-index: 9999;
    position: fixed;
    bottom: 120px;
    right: 20px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast-message {
    color: #fff;
    background: #55965a;
    transition: all 0.3s linear;
    animation: slideInLeft ease .4s, fadeOut linear 1s 3000s forwards;
}

.bg-user:hover {
    background-color: #3c7581;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: 0;
    left: 22px;
    background: white;
    color: var(--main-color);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid var(--main-color); 
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.table-container {
    max-height: 400px; 
    overflow-y: auto;
    padding-right: 15px; 
}









